HORCM_CMD
\\.\IPCMD-{{ az_active_node_ip }}-{{ az_udp_port }}

HORCM_ENC_MODE
CIPHER

HORCM_ENC_CIPHER
DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256

HORCM_ENC_SERVER_AUTH
DISABLE